<% movies.each do |movie| %>
  <div class="media-body">
    <div class="col-sm-2"><%= image_tag movie.picture.variant(resize:'200x200') %></div>
    <div class="col-sm-2"><%= movie.title %></div>
    <div class="col-sm-2"><%= movie.content %></div>
    <div class="col-sm-2"><%= link_to '詳細', movie %></div>
  </div>
<% end %>
